.container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

}
  /* img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
   */
  div.container {
    text-align: left;
    font-size: 25px;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
  }

  body{
   background-image: url(https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg);
   background-size: cover;
}

  a{
      font-size: 1em;

  }